{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="{% static 'product/css/style.css' %}">
</head>

<body>
    <nav class="nav-links" style="display: flex; justify-content: space-between; align-items: center; padding: 10px; background-color: #333; color: white;">
        <a  href="{% url 'students_list' %}">Students</a>
        <a  href="{% url 'course_list' %}">Courses</a>
        <a  href="{% url 'create_student' %}">Create Student</a>
    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>